<h1>Gists</h1>
<% @gists.each do |gist| %>
  <p>
    <%= gist["description"] %>
    <%= gist["updated_at"] %>
    <%= gist["html_url"] %>
    <%= gist["language"] %>
    <%= link_to gist["id"], gist_path(gist["id"]) %>
  </p>
<% end %>
