<h1>Gist <%= params[:id] %></h1>

Comments: <%= @gist.comments %>
Forks:    <%= @gist.forks %>
Revisions: <%= @gist.revisions %>
Age:  <%= @gist.age %> hours
Commits: <%= @gist.commits %>
Characters: <%= @gist.characters %>
URL: <%= @gist.url %>

Filename: <%= @gist.file_name %>

File:
<% @gist.file_body.each do |line| %>
  <%= line %>
<% end %>

