<!DOCTYPE html>
<html>
<head>
  <title>GistTools</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "genericons", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
  <div id="api_counter"><%= rate_limit %> Github API hits left until <%= rate_limit_reset %></div>
  <h1 id="site_title"><span class="neon_green">Gist</span><span class="light_text">tools</span></h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <span>
  <% if current_user %>
    <%= button_to "Your Gists", gists_path, class: "circle_link" %><br>
    <%= link_to "", destroy_user_session_path, method: :delete, class: "genericon genericon-github big_icon orange_icon", id: "sign_out" %>
    <span class="icon_text">Sign out</span>
  <% else %>
    <%= link_to "", "users/auth/github", class: "genericon genericon-github big_icon", id: "sign_in" %>
    <span class="icon_text">Sign in with Github</span>
  <% end %>
  </span>
  <div class="left_triangle"></div>
  <%= yield %>
</body>
</html>

<script>
  $( "#sign_in, #sign_out" ).hover(
    function() {
      $( ".icon_text" ).css( "color", "white" );
    }, function() {
      $( ".icon_text" ).css( "color", "transparent" );
    }
  );

  if(<%= rate_limit %> <= 40)
    $("#api_counter").css("color", "orangered");

</script>
